.sidenav_container {
    flex: 0.25;
    width: 25%;
    height: 100vh;
    background: #EDF6F4;
    padding: 20px;
    min-width: 300px;
    overflow: hidden;
    overflow-y: scroll;
    background-image: url('/SVG_Side Panel.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sidenav_links {
    margin-top: 30px;
    color: rgba(0,0,0,0.5);
    padding-bottom: 20px;
}

.sidenav_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 88%;
}

.sidenav_links h2 {
    font-size: 16px;
    font-weight: 800;
}

.new {
    margin-left: 10px;
    font-size: 12px;
    margin-top: 7px;
    font-weight: 700;
    padding: 0px 8px;
    color: #2956c8;
    text-decoration: underline
}

.sidenav_links h4 {
    color: #671B1D !important;
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.5);
    line-height: 44px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.announcements {
    width: 100%;
    padding: 20px;
    background: #73CEE2;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    word-break: break-all;
}

.announcements > h4 {
    color: #1F3C88;
    font-size: 18px;
    font-weight: 600;
}

.announcements > a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.announcements > a > img {
    margin-top: -5px;
    margin-right: 10px;
}

.announcements > a > h2 {
    font-size: 12px;
    color: #050505;
}

.sidenav_image {
    width: 100%;
    max-width: 100%;
}

.sidenav_links a {
    display: block;
    position: relative;
    margin: 30px 0 0 30px;
    color: rgba(0,0,0,0.5);
}

.sidenav_links a > img {
    position: absolute;
    left: -50px;
    top: -21px;
}

.sidenav_links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidenav_links p {
    font-size: 14px;
}
.sidenav_links li {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.highlight {
    color: #671B1D !important;
}

/* Media Queries */
@media only screen and (max-width: 992px) {
    .sidenav_container {
        width: 100%;
    }

    .announcements {
        margin-top: 15px;
    }
}