.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    padding: 20px 30px;
}

.header > span {
    cursor: pointer;
    margin-left: 20px;
}