.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #050505;
    padding: 20px 30px;
}

.header > span {
    cursor: pointer;
    margin-left: 20px;
    background-color: #671B1D;
    color: #fff;
    padding: 4px 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.mobile_display {
    display: none;
}

/* RESPONSIVE */
@media only screen and (max-width: 992px) {
    .header {
        justify-content: space-between;
        padding: 0;
        margin-bottom: 30px;
    }
    .mobile_display {
        display: flex;
    }
}
@media only screen and (max-width: 480px) {
    .header {
        font-size: 12px;
    }
}