.web_container {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.right_container {
    flex: 0.75;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    background-image: url("/SVG_Full_texture.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.bridge_body {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 92%;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: none;
}

.bridge_body::-webkit-scrollbar {
    display: none;
}

.bridge_container {
    flex: 0.26;
    width: 100%;
    height: 50%;
    margin-top: 20px;
}

.bridge_container_middle h2,
.bridge_container h2,
.bridge_container_right h2 {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

.bridge_container p {
    font-size: 14px;
    text-align: center;
}

.bridge_container_middle {
    flex: 0.26;
    width: 100%;
    height: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
}

.bridge_container_middle div {
    flex: 0.49;
}

.bridge_container_right {
    margin-top: 20px;
    flex: 0.45;
    height: calc(100% - 20px);
}

.heading {
    border-bottom: 1px solid #ccc;
}

.lists {
    list-style-type: none;
    position: relative;
    margin-top: 30px;
}

.lists li {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
}

.lists li:before {
    display: block;
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-left: -30px;
    background: transparent url('/src/assets/list-icon.png') ;
    background-size:contain ;
}

.expert {
    width: 100%;
    padding: 15px 0;
    background-color: #00538A;
    color: #fff;
}

.right_content {
    width: 100%;
    padding: 20px;
}

.right_content p {
    font-size: 12px;
    font-weight: 700;
}

.button_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    color: #fff;
    font-weight: 700;
    padding: 6px 30px;
    margin-top: 10px;
    background-color: #671B1D;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.question_image {
    position: absolute;
    bottom: 2px;
    right: 20px;
    width: 50%;
}

.mobile_display {
    flex: 0.28;
}

.hamburger {
    position: absolute;
    top: 80px;
    height: calc(100vh - 100px);
    animation: hamburger 0.5s ease-in-out;
    transition: hamburger 500ms ease-in-out;
    -webkit-transition: hamburger 500ms ease-in-out;
    -moz-transition: hamburger 500ms ease-in-out;
    -ms-transition: hamburger 500ms ease-in-out;
    -o-transition: hamburger 500ms ease-in-out;
    -webkit-animation: hamburger 0.5s ease-in-out;
}

/* ANIMATIONS */
@keyframes hamburger {
    0% {
        opacity: 0.2;
        transform: translateX(-400px);
        -webkit-transform: translateX(-400px);
        -moz-transform: translateX(-400px);
        -ms-transform: translateX(-400px);
        -o-transform: translateX(-400px);
}
    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}

/* Media Queries */
@media only screen and (max-width: 992px) {
    .web_container {
        flex-direction: column-reverse;
    }
    .mobile_display {
        display: none !important;
    }
}

/* Media Queries */
@media only screen and (max-width: 480px) {
    .bridge_body {
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        justify-content: flex-start;
    }  
    .right_container {
        flex: auto;
    }
} 