.bridgeCardContainer {
    width: 100%;
    background-color: #EDF6F4;
    height: 100%;
    position: relative;
    min-width: min-content;
    min-height: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
    scrollbar-width: none;
}

.bridgeCardContainer::-webkit-scrollbar {
    display: none;
}

/* Media Queries */
@media only screen and (max-width: 992px) {
    .bridgeCardContainer {
        margin-top: 10px;
    }
} 
