.container {
    margin-top: 30px;
    width: 100%;
}

.header {
    color: #fff;
    background-color: #671B1D;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.body {
    height: 100%;
    border-bottom: 1px solid #111;
    border-left: 1px solid #111;
    border-right: 1px solid #111;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
    scrollbar-width: none;
}

.body::-webkit-scrollbar {
    display: none;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    scrollbar-width: none;
}

.content > div:first-of-type {
    margin-right: 15px;
}

.info_card {
    padding: 15px;
    text-align: center;
    background-color: #671B1D;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    min-width: 150px;
}

.info_card:first-of-type {
    margin-right: 20px;
}

.info_card p {
    margin: 0;
}

.prev_tests_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.to_solutions {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #111 !important;
    padding: 15px 20px;
    font-weight: 600;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.content > div {
    /* padding: 5px 20px; */
    background-color: #671B1D;
    color: #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    cursor: pointer;
    -o-border-radius: 12px;
}

.footer_info {
    background-color: #72CEE2;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    font-size: 12px;
    margin-top: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.disclaimer {
    font-weight: 700;
    text-decoration: underline;
}

.footer_info > h5 {
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
}

.all_attempts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.stat_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #671B1D;
    color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    min-width: 150px;
}

.stat_card:first-of-type {
    margin-right: 20px;
}

.stat_card p,
.stat_card h2 {
    margin: 0;
}

.passed,
.failed {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-right: 10px;
}

.failed {
    background: rgba(255, 44, 0, 0.5);
}

.passed {
    background: rgba(0, 167, 0, 0.5);
}

.solution {
    font-size: 14px;
}

@media only screen and (max-width: 480px) {
    .passed,
    .failed {
        font-size: 12px;
    }

    .solution {
        font-size: 12px;
    }

    .stat_card:first-of-type {
        margin-right: 10px;
    }
}