.accordion-button:not(.collapsed),
.accordion-button:focus {
    background-color: #fff;
    box-shadow: none;
}

.modal-header {
    align-items: flex-start !important;
    max-height: 200px;
    background-color: #671B1D;
    color: #fff;
}

.modal-content {
    max-height: 800px;
    overflow: hidden;
    overflow-y: scroll !important;
}

.modal-body {
    min-height: 200px;
    max-height: 500px;
    overflow: hidden;
    overflow-y: scroll !important;
    background-image: url("/SVG_Full_texture.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}