.test_background {
  width: 100%;
  overflow: hidden;
}

.test_header {
  align-items: center;
  margin-bottom: 30px;
}

.test_header_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.logout {
  cursor: pointer;
  margin-left: 20px;
  background-color: #671b1d;
  color: #fff;
  padding: 4px 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.header {
  color: #fff;
  background-color: #671b1d;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

.body {
  height: 100%;
  border-bottom: 1px solid #111;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow-y: scroll;
  border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
}

.body::-webkit-scrollbar {
  display: none;
}

.body_header {
  flex: 0.1;
  min-height: 80px;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecf7f7;
}

.correct_highlight {
  border: 1.5px solid #0da14a !important;
}

.wrong_highlight {
  border: 1.5px solid #ef1c23 !important;
}

.body_content {
  flex: 0.9;
  min-height: 500px;
  height: fit-content;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
}

.body_content::-webkit-scrollbar {
  display: none;
}

.body_content p {
  margin: 0;
}

.body_content p {
  margin: 0;
}

.body_explain {
  border-radius: 8px;
  min-height: 100px;
  width: 100%;
  padding: 20px;
  background-color: #ecf7f7;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.option_container > div {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 10px;
}

.questions_container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.questions_container::-webkit-scrollbar {
  display: none;
}

.option_status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.option_status > p {
  margin: 0;
}

.option_status p:first-of-type {
  color: #0da14a;
  font-weight: 700;
}

.option_status p:last-of-type {
  color: #111;
  font-weight: 700;
}

.questions_container > div {
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.correct {
  background-color: #0da14a;
}

.wrong {
  background: #ef1c23;
  color: #fff;
}

.questions_container > div:hover {
  border: 1px solid #111;
  color: 1px solid #111;
}

.question {
  margin-bottom: 20px !important;
}

.mobile_display {
  display: none;
}

.desktop_display {
  display: flex;
}

.button_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  background-color: #671b1d;
  color: #fff;
  padding: 4px 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

.button:hover {
  background-color: #511315;
}

/* RESPONSIVE */
@media only screen and (max-width: 480px) {
  .mobile_display {
    display: flex;
  }

  .body {
    height: calc(100vh - 155px);
  }

  .test_header_right {
    justify-content: space-between;
  }

  .desktop_display {
    display: none;
  }
}
