.header {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* RESPONSIVE */
@media only screen and (max-width: 980px) {
  .header {
    padding: 30px 15px;
  }

  .header > img {
    width: 100px !important;
  }
}
